<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../versione alternativa/style.css">
    <title>Todo List</title>
</head>

<body>
    <div id="app">

        <div class="main_part mt-5 bg-light">
            <div class="logo">
                <img src="https://hiringplatform.boolean.careers/images/logo.png" alt="">
            </div>

            <div class="add_task">
                <input type="text" v-model="newTask" @keyup.enter="addTask" class="border border-3 me-5">
                <button @click="addTask" class="rounded btn-primary fw-bold">Aggiungi</button>
            </div>

            <div class="section_container">
                <section v-if="tasks.length > 0" class="bg-light p-4 rounded border border-3 box">
                    <h3 class="text-uppercase mb-5">To-do list</h3>

                    <!-- Passo task e index alla funzione checked -->
                    <div class="list">
                        <div v-for="(task, index) in tasks" class="elements border-bottom">
                            <!-- Prendo task ( oggetto ) dal v-for sopra e lo passo come parametro a checked sotto, checked(task, index), verrà intercettato nel js, checked(task, index) -->
                            <div>
                                <div v-if="task.done === true" class="text-success">
                                    {{task.text}}</div>
                                <div v-else class="text-danger"> {{task.text}}</div>
                            </div>
                            <div class="icons">
                                <i class="px-2 fa-solid fa-circle-check fa-xl" @click="checked(task, index)"></i>
                                <i class="px-2 fa-solid fa-trash fa-xl" @click="removeTask(task, index)"></i>
                            </div>
                        </div>
                    </div>
                </section>

                <section v-if="completed.length > 0" class="bg-light p-4 rounded border border-3 box">
                    <h3 class="text-uppercase mb-5">completed</h3>

                    <!-- Passo task e index alla funzione checked -->
                    <div class="list">
                        <div v-for="(task, index) in completed" class="elements border-bottom">
                            <div @click="checked(task, index)">
                                <div v-if="task.done === true" class="text-success">
                                    {{task.text}}</div>
                            </div>
                            <div class="icons">
                                <i class="px-2 fa-solid fa-rotate-left fa-xl" @click="moveInTodo(task, index)"></i>
                                <i class="px-2 fa-solid fa-trash fa-xl" @click="removeTask(task, index)"></i>
                            </div>
                        </div>
                    </div>
                </section>

                <section v-if="recycle.length > 0" class="bg-light p-4 rounded border border-3 box">
                    <h3 class="text-uppercase ">recycle bin</h3>
                    <span @click="deleteAll()" class="text-danger mb-5">(Delete all)</span>
                    <div class="list">
                        <div v-for="(task, index) in recycle" class="elements border-bottom">
                            <div>
                                <div v-if="task.done === false">{{task.text}}</div>
                            </div>
                            <i class="px-2 fa-solid fa-trash-can-arrow-up fa-xl" @click="restore(task, index)"></i>
                        </div>
                    </div>
                </section>
            </div>

        </div>
    </div>

    <script src='https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js'></script>
    <script src="../versione alternativa/app.js"></script>
</body>

</html>