* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    width: auto;
    margin-bottom: 50px;
}

img {
    width: 500px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    font-weight: bold;
}

.main_part {
    max-width: 1440px;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 50px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.632);
}

.section_container {
    display: flex;
    flex-wrap: wrap;
}

.add_task {
    margin-bottom: 4rem;
}

.list {
    box-shadow: 10px 10px rgba(0, 0, 0, 0.632);
    width: 400px;
    height: 400px;
    margin: 10px;
    overflow-y: auto;
}

.elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.icons {
    cursor: pointer;
}

.fa-circle-check {
    color: rgb(32, 224, 32);
}

.add_task>input {
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
}

.add_task>button {
    padding: 1rem;
    border: none;
    border: radius 0.5rem;
}