* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 50%;
    margin-bottom: 50px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
}

.container {
    width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 50px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.632);
}

.add_task {
    margin-bottom: 4rem;
}

.list {
    box-shadow: 10px 10px rgba(0, 0, 0, 0.632);
    width: 400px;
}

.add_task>input {
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
}

.add_task>button {
    padding: 1rem;
    border: none;
    border: radius 0.5rem;
}